@charset "UTF-8";
nav {
  /* Es el estilo del navegador */
  background-color: #cfc6c6; }
  nav ul li {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Cuprum', sans-serif; }

@media (min-width: 200px) and (max-width: 707px) {
  nav {
    background-color: #cfc6c6; }
    nav ul {
      display: flex;
      flex-direction: column; }
      nav ul li {
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-family: 'Cuprum', sans-serif; } }

h2 {
  /* Es el estilo de los títulos secundarios */
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px; }

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  padding: 50px; }

h4 {
  font-family: "Cuprum", sans-serif;
  color: black;
  padding: 30px; }

h5 {
  font-family: "Cuprum", sans-serif;
  font-size: 45px;
  padding-bottom: 20px; }

@media (min-width: 200px) and (max-width: 700px) {
  h2 {
    font-size: 30px; }
  h5 {
    font-size: 20px;
    padding: 0px;
    margin: 0px; }
  h3 {
    font-size: 30px; }
  h4 {
    font-size: 20px; }
  h6 {
    font-size: 20px; } }

h6 {
  font-size: 30px;
  color: black;
  font-family: 'Cuprum', sans-serif;
  padding-left: 50px; }

.home-newsletter {
  /* Es el estilo del newsletter */
  padding: 80px;
  margin-top: 150px;
  background: whitesmoke; }
  .home-newsletter .container .row .col-sm-12 .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .home-newsletter .container .row .col-sm-12 .single h2 {
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-bottom: 10px; }
    .home-newsletter .container .row .col-sm-12 .single .contenido {
      margin-bottom: 50px; }
    .home-newsletter .container .row .col-sm-12 .single h3 {
      padding-bottom: 10px;
      margin-bottom: 10px; }
    .home-newsletter .container .row .col-sm-12 .single .input-group {
      margin-left: 60px; }
      .home-newsletter .container .row .col-sm-12 .single .input-group .form-control {
        height: 50px;
        margin-top: 20px;
        background: rgba(255, 255, 255, 0.6);
        border-color: transparent;
        border-radius: 20px 0 0 20px; }
      .home-newsletter .container .row .col-sm-12 .single .input-group .form-control:focus {
        box-shadow: none;
        border-color: #243c4f; }
      .home-newsletter .container .row .col-sm-12 .single .input-group .btn {
        min-height: 50px;
        border-radius: 0 20px 20px 0;
        background: #243c4f;
        color: #fff; }

.card {
  /* Son los estilos de las cards */
  height: 800px;
  width: 350px; }
  .card .card-body .card-title {
    font-family: "Cuprum", sans-serif;
    font-size: 40px;
    color: black;
    padding: 30px;
    text-align: center; }
  .card .card-body .card-text {
    font-size: "Bebas Neue", cursive;
    color: black;
    padding: 10px;
    text-align: justify; }

@media (min-width: 200px) and (max-width: 700px) {
  .card .card-body .card-title {
    font-size: 20px;
    padding: 0px; }
  .card .card-body .card-text {
    padding-left: 20px;
    padding-right: 20px; } }

.card-body-margen {
  margin: 10px;
  margin-left: 0px;
  padding-top: 90px;
  padding-bottom: 10px;
  padding-right: 40px; }

@media (min-width: 200px) and (max-width: 700px) {
  .card-body-margen {
    margin: 0px;
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 60px;
    margin-right: 10px; } }

.carta {
  height: 380px;
  width: 600px; }

.carta1 {
  height: 380px;
  width: 600px;
  margin-left: 250px; }

@media (min-width: 200px) and (max-width: 700px) {
  .carta1 {
    margin-left: 10px; } }

.fila {
  height: 500px; }

.tamaño-imagen {
  /*Son los estilos de las imágenes que posee la página */
  width: 800px;
  height: 550px; }

@media (min-width: 200px) and (max-width: 700px) {
  .tamaño-imagen {
    width: 250px;
    height: 300px; } }

.imagen {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }

.imagen1 {
  display: flex; }

@media (min-width: 200px) and (max-width: 700px) {
  .imagen1 {
    padding-left: 200px; } }

.imagen-pequeña {
  margin-top: 20px;
  margin-right: 20px; }

.col {
  /*Son los estilos que se le asignaron a las columnas */
  background-color: whitesmoke; }

@media (min-width: 200px) and (max-width: 707px) {
  .col {
    text-align: center; } }

#navegador-columna {
  color: black;
  font-family: 'Cuprum', sans-serif;
  font-size: 25px;
  margin: 0px;
  display: inline-block; }

@media (min-width: 200px) and (max-width: 707px) {
  #navegador-columna {
    font-size: 10px; } }

.col-sin-fondo {
  color: white; }

#titulo1 {
  padding-top: 30px;
  padding-left: 0px;
  padding-bottom: 30px;
  padding-right: 0px; }

p {
  /* Es el estilo del texto */
  padding-left: 50px;
  text-align: justify; }
  p small a {
    text-decoration: none;
    color: gray; }

@media (min-width: 200px) and (max-width: 700px) {
  #carouselExampleIndicators {
    padding-left: 30px; }
  p {
    padding: 0px;
    text-align: justify;
    font-size: 10px; }
    p small a {
      font-size: 10px; } }

button {
  /* Es el estilo de la opción Ver más del index */
  float: right;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 30px; }
  button a {
    text-decoration: none;
    color: black; }

footer {
  margin-top: 40px;
  background-color: #cfc6c6; }

@media (min-width: 200px) and (max-width: 700px) {
  footer ul h4 {
    font-size: 10px; }
    footer ul h4 li a {
      padding: 10px; }
      footer ul h4 li a img {
        width: 5px;
        height: 5px; } }

.barra {
  /* Se le asigna estilo a la barra de búsqueda */
  margin-left: 50px;
  margin-right: 50px; }

#tamaño-caja {
  margin-top: 30px; }

@media (min-width: 200px) and (max-width: 700px) {
  .fila1 {
    flex-direction: column; } }

.texto {
  font-size: 20px;
  font-family: "Cuprum", sans-serif;
  text-align: justify; }

.texto1 {
  font-size: 15px;
  font-weight: bold;
  text-align: center; }

@media (min-width: 200px) and (max-width: 700px) {
  .texto {
    font-size: 15px; }
  .texto1 {
    font-size: 8px; } }
