.tamaño-imagen{             /*Son los estilos de las imágenes que posee la página */
    width: $ancho1*8;
    height: 550px;
}


@media (min-width:200px) and (max-width:700px){
    .tamaño-imagen{
        width: 250px;
        height: 300px;        
    }
}

.imagen{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imagen1{
    display: flex;
}

@media (min-width:200px) and (max-width:700px){
    .imagen1{
        padding-left: 200px;
    }
}

.imagen-pequeña{
    margin-top: 20px;
    margin-right: 20px;
}