@import "nav";
@import "variables/variables";
@import "titulos";
@import "newsletter";
@import "card";
@import "imagenes";
@import "columnas";


#titulo1{
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 30px;
    padding-right: 0px;
}


p{              /* Es el estilo del texto */
    padding-left: 50px;
    text-align: justify;
    small{
        a{
            text-decoration: none;
            color: gray;
        }
    }
}

@media (min-width:200px) and (max-width:700px){
    #carouselExampleIndicators{
        padding-left: 30px;
    }
    p{
      padding: 0px;
      text-align: justify;
      font-size: 10px;
      small{
          a{
              font-size: 10px;
            }
        }
    }
}



button{         /* Es el estilo de la opción Ver más del index */
    float: right;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    a{
        text-decoration: none;
        color: $color-negro;
    }
}



footer{             // Asignamos estilo al pie de página //
    margin-top: 40px;
    background-color: $color-secondary;
}

@media (min-width:200px) and (max-width:700px){
    footer{
        ul{
            h4{
                font-size: 10px;
                li{
                    a{
                        padding:10px;
                        img{
                            width: 5px;
                            height: 5px;
                        }
                    }
                }
            }
        }
    }
}


.barra{         /* Se le asigna estilo a la barra de búsqueda */
    margin-left: 50px;
    margin-right: 50px;
}



#tamaño-caja{           
    margin-top: 30px;
}

@media (min-width:200px) and (max-width:700px){
    .fila1{
        flex-direction: column;
    }
}

.texto{
    font-size: 20px;
    font-family: $fuente-subtitulos;
    text-align: justify;
}

.texto1{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

@media (min-width:200px) and (max-width:700px){
    .texto{
        font-size: 15px;
    }
    .texto1{
        font-size: 8px;
    }
}